@mixin deck {
  height: 30%;
  text-align: center;
  background-color: #800000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__deck {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__card {
      height: 100%;
      width: 20%;
      //padding: 5%;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
  }
}
.container {
  height: 100vh;
  background: #004800;
  color: #bea6a0;

  .action {
    height: 10%;
    justify-content: space-evenly;

    display: flex;
    align-items: center;
  }
  #title {
    padding: 5%;
    margin: 0;
    text-align: center;
  }
  .dealer {
    @include deck;
  }
  .player {
    @include deck;
  }
}
